button,
.button {
  font-size: $text-m;
  line-height: $text-m-line;
  font-weight: $weight-bold;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: $base * 0.5;

  width: max-content;
  padding: $base * 0.625 $base * 1.125;
  border: none;
  border-radius: $base * 0.5;

  text-decoration: none;
  cursor: pointer;
  transition: $transition;

  &.primary {
    background-color: $color-blue-600;
    color: #fff;

    &:hover {
      background-color: $color-blue-700;
    }

    &:focus {
      outline: none;
      box-shadow: $focus-shadow;
    }

    &:disabled {
      background-color: $color-grey-100;
      cursor: not-allowed;
    }
  }

  &.secondary {
    background-color: $color-grey-50;
    color: $color-blue-700;
    outline: $color-blue-700 1px solid;

    &:hover {
      background-color: $color-grey-100;
      color: $color-blue-800;
      outline-color: $color-blue-800;
    }

    &:focus {
      box-shadow: $focus-shadow;
      color: $color-blue-800;
      outline-color: $color-blue-800;
    }

    &:disabled {
      background-color: $color-grey-50;
      color: $color-grey-300;
      outline-color: $color-grey-300;
    }
  }

  &.tertiary {

  }
}