// ::selection {
//   background-color: #222;
//   color: #fff;
// }

body {
  font-family: $font-family;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga', 'dlig';
}

.main-content {
  flex: 1 1 auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--vh100);
  background-color: rgba(#000, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
}

.page--inner__content {
  padding-top: 0;
  padding-bottom: 80px;
}

.container {
  padding-left: $base;
  padding-right: $base;
  max-width: $base * 80;

  @include breakpoint(m) {
    padding-left: $base * 2;
    padding-right: $base * 2;
  }
}