h1,
h2,
h3,
h4,
h5,
h6 {
  //font-family if second font exists
  color: $color-grey-900;
  font-weight: $weight-bold;
}

p {
  color: $color-grey-700;
  font-size: $text-m;
  line-height: $text-m-line;
}

h1 {
  font-size: $display-xl;
  line-height: $display-xl-line;
}

h2 {
  font-size: $display-l;
  line-height: $display-l-line;
}

h3 {
  font-size: $display-m;
  line-height: $display-m-line;
}

h4 {
  font-size: $display-s;
  line-height: $display-s-line;
}

h5 {
  font-size: $display-xs;
  line-height: $display-xs-line;
}

h6 {
  font-size: $text-xl;
  line-height: $text-xl-line;
}