<section 
  class="container block-hero"
  n:if="$title['text']"
  style="--bg: url({$background_image['src']})"
>
  <div class="hero-container">
    <div class="hero-text">
      <span n:ifcontent>{$text['text']}</span>
      <h1 n:ifcontent>{$title['text']}</h1>
    </div>
    {* <div class="action">
      {tr_a($cta, "button primary")}
      <button class="button secondary">test</button>
    </div> *}
  </div>{* cont *}
</section>
